# Mobile
EXPO_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1
EXPO_PUBLIC_SUPABASE_URL=https://tiywldtrchjnmkkjgwmy.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Backend
APP_ENV=development
DATABASE_URL=postgresql+asyncpg://livya:livya@localhost:5432/livya
CORS_ORIGINS=["http://localhost:8081","http://localhost:19006"]
SUPABASE_URL=https://tiywldtrchjnmkkjgwmy.supabase.co
SUPABASE_PUBLISHABLE_KEY=
